<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditArticuloTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditArticuloLabel_idArticulo}" for="idArticulo" />
                    <h:inputText id="idArticulo" value="#{articuloController.selected.idArticulo}" title="#{bundle.EditArticuloTitle_idArticulo}" required="true" requiredMessage="#{bundle.EditArticuloRequiredMessage_idArticulo}"/>
                    <h:outputLabel value="#{bundle.EditArticuloLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{articuloController.selected.nombre}" title="#{bundle.EditArticuloTitle_nombre}" />
                    <h:outputLabel value="#{bundle.EditArticuloLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{articuloController.selected.precio}" title="#{bundle.EditArticuloTitle_precio}" />
                    <h:outputLabel value="#{bundle.EditArticuloLabel_deescripcion}" for="deescripcion" />
                    <h:inputTextarea rows="4" cols="30" id="deescripcion" value="#{articuloController.selected.deescripcion}" title="#{bundle.EditArticuloTitle_deescripcion}" />
                    <h:outputLabel value="#{bundle.EditArticuloLabel_fotografia}" for="fotografia" />
                    <h:inputText id="fotografia" value="#{articuloController.selected.fotografia}" title="#{bundle.EditArticuloTitle_fotografia}" />
                    <h:outputLabel value="#{bundle.EditArticuloLabel_tiempoPreparacion}" for="tiempoPreparacion" />
                    <h:inputText id="tiempoPreparacion" value="#{articuloController.selected.tiempoPreparacion}" title="#{bundle.EditArticuloTitle_tiempoPreparacion}" >
                        <f:convertDateTime pattern="HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditArticuloLabel_calorias}" for="calorias" />
                    <h:inputText id="calorias" value="#{articuloController.selected.calorias}" title="#{bundle.EditArticuloTitle_calorias}" />
                    <h:outputLabel value="#{bundle.EditArticuloLabel_disponible}" for="disponible" />
                    <h:inputText id="disponible" value="#{articuloController.selected.disponible}" title="#{bundle.EditArticuloTitle_disponible}" />
                    <h:outputLabel value="#{bundle.EditArticuloLabel_rfc}" for="rfc" />
                    <h:selectOneMenu id="rfc" value="#{articuloController.selected.rfc}" title="#{bundle.EditArticuloTitle_rfc}" >
                        <f:selectItems value="#{restauranteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{articuloController.update}" value="#{bundle.EditArticuloSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditArticuloViewLink}"/>
                <br />
                <h:commandLink action="#{articuloController.prepareList}" value="#{bundle.EditArticuloShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditArticuloIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
