<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewArticuloTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewArticuloLabel_idArticulo}"/>
                    <h:outputText value="#{articuloController.selected.idArticulo}" title="#{bundle.ViewArticuloTitle_idArticulo}"/>
                    <h:outputText value="#{bundle.ViewArticuloLabel_nombre}"/>
                    <h:outputText value="#{articuloController.selected.nombre}" title="#{bundle.ViewArticuloTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewArticuloLabel_precio}"/>
                    <h:outputText value="#{articuloController.selected.precio}" title="#{bundle.ViewArticuloTitle_precio}"/>
                    <h:outputText value="#{bundle.ViewArticuloLabel_deescripcion}"/>
                    <h:outputText value="#{articuloController.selected.deescripcion}" title="#{bundle.ViewArticuloTitle_deescripcion}"/>
                    <h:outputText value="#{bundle.ViewArticuloLabel_fotografia}"/>
                    <h:outputText value="#{articuloController.selected.fotografia}" title="#{bundle.ViewArticuloTitle_fotografia}"/>
                    <h:outputText value="#{bundle.ViewArticuloLabel_tiempoPreparacion}"/>
                    <h:outputText value="#{articuloController.selected.tiempoPreparacion}" title="#{bundle.ViewArticuloTitle_tiempoPreparacion}">
                        <f:convertDateTime pattern="HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewArticuloLabel_calorias}"/>
                    <h:outputText value="#{articuloController.selected.calorias}" title="#{bundle.ViewArticuloTitle_calorias}"/>
                    <h:outputText value="#{bundle.ViewArticuloLabel_disponible}"/>
                    <h:outputText value="#{articuloController.selected.disponible}" title="#{bundle.ViewArticuloTitle_disponible}"/>
                    <h:outputText value="#{bundle.ViewArticuloLabel_rfc}"/>
                    <h:outputText value="#{articuloController.selected.rfc}" title="#{bundle.ViewArticuloTitle_rfc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{articuloController.destroyAndView}" value="#{bundle.ViewArticuloDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewArticuloEditLink}"/>
                <br />
                <h:commandLink action="#{articuloController.prepareCreate}" value="#{bundle.ViewArticuloCreateLink}" />
                <br />
                <h:commandLink action="#{articuloController.prepareList}" value="#{bundle.ViewArticuloShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewArticuloIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
