<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRestauranteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_rfc}" for="rfc" />
                    <h:inputText id="rfc" value="#{restauranteController.selected.rfc}" title="#{bundle.CreateRestauranteTitle_rfc}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_rfc}"/>
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{restauranteController.selected.nombre}" title="#{bundle.CreateRestauranteTitle_nombre}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{restauranteController.selected.direccion}" title="#{bundle.CreateRestauranteTitle_direccion}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_logotipo}" for="logotipo" />
                    <h:inputText id="logotipo" value="#{restauranteController.selected.logotipo}" title="#{bundle.CreateRestauranteTitle_logotipo}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_logotipo}"/>
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_mapaUbicacion}" for="mapaUbicacion" />
                    <h:inputText id="mapaUbicacion" value="#{restauranteController.selected.mapaUbicacion}" title="#{bundle.CreateRestauranteTitle_mapaUbicacion}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_mapaUbicacion}"/>
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_telefono}" for="telefono" />
                    <h:inputText id="telefono" value="#{restauranteController.selected.telefono}" title="#{bundle.CreateRestauranteTitle_telefono}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_telefono}"/>
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_horario}" for="horario" />
                    <h:inputText id="horario" value="#{restauranteController.selected.horario}" title="#{bundle.CreateRestauranteTitle_horario}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_horario}"/>
                    <h:outputLabel value="#{bundle.CreateRestauranteLabel_detallesExtra}" for="detallesExtra" />
                    <h:inputTextarea rows="4" cols="30" id="detallesExtra" value="#{restauranteController.selected.detallesExtra}" title="#{bundle.CreateRestauranteTitle_detallesExtra}" required="true" requiredMessage="#{bundle.CreateRestauranteRequiredMessage_detallesExtra}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{restauranteController.create}" value="#{bundle.CreateRestauranteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{restauranteController.prepareList}" value="#{bundle.CreateRestauranteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateRestauranteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
