<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRestauranteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRestauranteEmpty}" rendered="#{restauranteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{restauranteController.items.rowCount > 0}">
                    <h:outputText value="#{restauranteController.pagination.pageFirstItem + 1}..#{restauranteController.pagination.pageLastItem + 1}/#{restauranteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{restauranteController.previous}" value="#{bundle.Previous} #{restauranteController.pagination.pageSize}" rendered="#{restauranteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{restauranteController.next}" value="#{bundle.Next} #{restauranteController.pagination.pageSize}" rendered="#{restauranteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{restauranteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_rfc}"/>
                            </f:facet>
                            <h:outputText value="#{item.rfc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_direccion}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_logotipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.logotipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_mapaUbicacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.mapaUbicacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_horario}"/>
                            </f:facet>
                            <h:outputText value="#{item.horario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRestauranteTitle_detallesExtra}"/>
                            </f:facet>
                            <h:outputText value="#{item.detallesExtra}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{restauranteController.prepareView}" value="#{bundle.ListRestauranteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{restauranteController.prepareEdit}" value="#{bundle.ListRestauranteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{restauranteController.destroy}" value="#{bundle.ListRestauranteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{restauranteController.prepareCreate}" value="#{bundle.ListRestauranteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRestauranteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
