<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRestauranteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRestauranteLabel_rfc}"/>
                    <h:outputText value="#{restauranteController.selected.rfc}" title="#{bundle.ViewRestauranteTitle_rfc}"/>
                    <h:outputText value="#{bundle.ViewRestauranteLabel_nombre}"/>
                    <h:outputText value="#{restauranteController.selected.nombre}" title="#{bundle.ViewRestauranteTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewRestauranteLabel_direccion}"/>
                    <h:outputText value="#{restauranteController.selected.direccion}" title="#{bundle.ViewRestauranteTitle_direccion}"/>
                    <h:outputText value="#{bundle.ViewRestauranteLabel_logotipo}"/>
                    <h:outputText value="#{restauranteController.selected.logotipo}" title="#{bundle.ViewRestauranteTitle_logotipo}"/>
                    <h:outputText value="#{bundle.ViewRestauranteLabel_mapaUbicacion}"/>
                    <h:outputText value="#{restauranteController.selected.mapaUbicacion}" title="#{bundle.ViewRestauranteTitle_mapaUbicacion}"/>
                    <h:outputText value="#{bundle.ViewRestauranteLabel_telefono}"/>
                    <h:outputText value="#{restauranteController.selected.telefono}" title="#{bundle.ViewRestauranteTitle_telefono}"/>
                    <h:outputText value="#{bundle.ViewRestauranteLabel_horario}"/>
                    <h:outputText value="#{restauranteController.selected.horario}" title="#{bundle.ViewRestauranteTitle_horario}"/>
                    <h:outputText value="#{bundle.ViewRestauranteLabel_detallesExtra}"/>
                    <h:outputText value="#{restauranteController.selected.detallesExtra}" title="#{bundle.ViewRestauranteTitle_detallesExtra}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{restauranteController.destroyAndView}" value="#{bundle.ViewRestauranteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRestauranteEditLink}"/>
                <br />
                <h:commandLink action="#{restauranteController.prepareCreate}" value="#{bundle.ViewRestauranteCreateLink}" />
                <br />
                <h:commandLink action="#{restauranteController.prepareList}" value="#{bundle.ViewRestauranteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRestauranteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
