<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Index de la aplicación de menu"/>
        <meta name="author" content=""/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="#{request.contextPath}/js/libs/twitter-bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>
        <link href="#{request.contextPath}/js/libs/twitter-bootstrap/css/bootstrap-theme.css" type="text/css" rel="stylesheet"/> 
        <link href="#{request.contextPath}/resources/css/redbar.css" type="text/css" rel="stylesheet"/>
        <style>
            body{
                padding-top: 30px;
            }
            .template{
                padding: 40px 15px;
                text-align: center;
            }
        </style>
        <ui:insert name="custom-stylesheets"></ui:insert>
        
        <title>Menú</title>
    </h:head>

    <h:body>
        <ui:insert name="metadata"/>
        <!--Barra de navegación -->
        <ui:include src="navbar.xhtml"/>
        <!--Contenido-->
        <ui:insert name="content">Content</ui:insert>
        <!--Scripts -->
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="#{request.contextPath}/js/libs/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="#{request.contextPath}/js/libs/twitter-bootstrap/js/bootstrap-slider.js"></script>
    </h:body>

</html>
