<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class=" navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #fd4250">
        <div class=" container">
            <div class=" navbar-header" style="background-color: #fd4250">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class=" sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Restaurante MX</a>
            </div>
            <div class=" collapse navbar-collapse" style="background-color: #fd4250">
                <ul class="nav navbar-nav">
                    <li><h:link outcome="index" value="Inicio"/></li>
                    <li><h:link outcome="verMenu" value="Menú del restaurante"/></li>
                    <li><h:link outcome="verOrden" value="Ver orden actual"/></li>
                    <li><h:link outcome="verComprobante" value="Ver Comprobante"/></li>
                    <li><h:link outcome="encuesta" value="Encuesta de Satisfacción"/></li>
                    <li><h:link outcome="acercaDe" value="Acerca de nosotros"/></li>
                </ul>
            </div>
        </div>
    </div>
</ui:composition>

