<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="WEB-INF/pages/templates/Main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
        <div class="container">
            <div class="template">
                <h2>Bienvenido a la Aplicación Oficial de <strong>Restaurante MX</strong></h2>
                <p class="lead">
                </p>
                <div class="panel panel-info">
                    <div class="panel-heading">Promociones del Mes</div>
                    <div class="panel-body">
                        <p class="lead">
                            <img src="resources/img/promocion.png"
                                 style="margin-left: auto; margin-right: auto; max-width: 250px"
                                 class=" img-responsive"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>