<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="WEB-INF/pages/templates/Main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        #{request.getParameter("id")}
        <c:forEach items="#{testController.articulos}" var="arts">
            <h:outputText value="#{arts.nombre}"/>
        </c:forEach>
    </ui:define>
</ui:composition>

