<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="WEB-INF/pages/templates/Main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <ui:remove>
<!--        <c:forEach items="#{testController.articulos}" var="art">
            <h4>#{art.idArticulo}</h4>
        </c:forEach>-->
        </ui:remove>
        <div class="container">
            <div class="template">
                <h2>Seleccione una categoría</h2>
                <c:forEach items="#{testController.categorias}" var="cat">
                    <div class="list-group">
                        <h:link outcome="verCategoria" value="#{cat.nombre}" class="list-group-item">
                            <f:param name="id" value="#{cat.idCategoria}"/>
                            <h4 class="list-group-item-heading">#{fn:toUpperCase(cat.nombre)}</h4>
                            <p class="list-group-item-text">#{cat.descripcion}</p>
                        </h:link>
                    </div>
                </c:forEach>
            </div>
        </div>
    </ui:define>
</ui:composition>

